/* ========== GLOBAL STYLES ========== */

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: Cambria, sans-serif;
    margin: 0;
}

/* ========== BUTTON STYLES ========== */

button{
    border-radius: 0.5em;
    min-height: 2em;
    min-width: 4em;
    border: 1px solid black;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 2px 0 black;
    filter: grayscale(0.5);
}


/* ========== HEADER STYLES ========== */

header{
    background-color: gray;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
}
header{
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
    padding: 2vh 0 2vh 0;
    border-bottom: 1px solid black;
    color: white;
    z-index: 9999;
    user-select: none;
}
#add-artist-dialog-button{

}

@media (max-width: 600px) {
    header {
        text-align: left;
        height: auto;
    }
}

/* ========== SEARCH SECTION STYLES ========== */

#artist-search-div{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    top: 14vh;
    background-color: grey;
    padding: 0.5em 0.5em 0.5em 0.5em;
    max-width: 100vw;
    border-radius: 0 0 1em 0;
    z-index: 999;
    filter: drop-shadow(0 0 2px black);
}
@media (max-width: 500px) {
    #artist-search-div{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: 0;
        z-index: 9999;
    }
    #artist-search-div>div:last-child{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
#artist-search-div div:first-child{
    display: flex;
    align-items: center;
}
#artist-search{
    height: 2.5em;
    width: 15em;
}

/* ========== MAIN CONTENT STYLES ========== */

main{
    margin-top: 10em;
}

form{
    border: 1px solid black;
    width: 75vw;
    text-align: center;
}

form fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    text-align: left;
}


/* ========== GRID STYLES ========== */

.grid-container{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

@media (min-width: 600px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    .grid-container{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    .grid-container{
        grid-template-columns: repeat(7, 1fr);
    }
}

.grid-container article{
    box-shadow: 0 0 10px 0 black;
    padding: 1em;
    cursor: pointer;
    position: relative;
    max-width: 90vw;
}

.grid-container article img{
    width: 100%;
    overflow: clip;
}

/* ========== TOAST MESSAGE STYLES ========== */

#toast-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: auto;
    z-index: 99999;
}

.toast {
    display: inline-block;
    padding: 1em 2em;
    margin-bottom: 0;
    color: white;
    border-radius: 0.5em;
    font-size: 1.5em;
    pointer-events: none;
}

.toast.success {
    background-color: #2ecc71;
}

.toast.error {
    background-color: #e74c3c;
}

.fade-out{
    animation-name: fade-out;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    100%{
        opacity: 0;
    }
}

/* ========== DETAIL DIALOG TOOLTIP ========== */
.tooltip {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
    border-radius: 0.5em;
}

/* ========== FOOTER STYLES ========== */

footer{
    background-color: gray;
    text-align: center;
    font-size: 0.75em;
}